# azure
# gov
location = "usgovvirginia"
region = "USGov Virginia"
# commercial
#location = "eastus2"
#region   = "East US 2"
# project
projectPrefix = "scca"
# deployment
#deploymentType = "three_tier"
deploymentType = "one_tier"
# admin
adminUserName = "xadmin"
adminPassword = "pleaseUseVault123!!"
# networks
subnets = {
    "management"  = "10.90.0.0/24"
    "external"    = "10.90.1.0/24"
    "internal"    = "10.90.2.0/24"
    "vdms"        = "10.90.3.0/24"
    "inspect_ext" = "10.90.4.0/24"
    "inspect_int" = "10.90.5.0/24"
    "waf_ext"     = "10.90.6.0/24"
    "waf_int"     = "10.90.7.0/24"
    "application" = "10.90.10.0/24"
}
## bigips
instanceType = "Standard_DS5_v2"
# big-ip BYOL licenses
licenses = {
  "license1" = ""
  "license2" = ""
  "license3" = ""
  "license4" = ""
}
# f5 management
f5_mgmt = {
  f5vm01mgmt = "10.90.0.4"
  f5vm02mgmt = "10.90.0.5"
  f5vm03mgmt = "10.90.0.6"
  f5vm04mgmt = "10.90.0.7"
}
# bigip external private ips, these must be in external subnet
f5_t1_ext = {
  f5vm01ext     = "10.90.1.4"
  f5vm01ext_sec = "10.90.1.11"
  f5vm02ext     = "10.90.1.5"
  f5vm02ext_sec = "10.90.1.12"
}
# "Tier 1 BIG-IP Internal IPs.  These must be in the internal subnet."
f5_t1_int = {
  f5vm01int     = "10.90.2.4"
  f5vm01int_sec = "10.90.2.11"
  f5vm02int     = "10.90.2.5"
  f5vm02int_sec = "10.90.2.12"
}
# "Tier 3 BIG-IP External IPs.  These must be in the waf external subnet."
f5_t3_ext = {
  f5vm03ext     = "10.90.6.4"
  f5vm03ext_sec = "10.90.6.11"
  f5vm04ext     = "10.90.6.5"
  f5vm04ext_sec = "10.90.6.12"
}
#"Tier 3 BIG-IP Internal IPs.  These must be in the waf internal subnet."
f5_t3_int = {
  f5vm03int     = "10.90.7.4"
  f5vm03int_sec = "10.90.7.11"
  f5vm04int     = "10.90.7.5"
  f5vm04int_sec = "10.90.7.12"
}
## app
app01ip = "10.90.10.101"
## jump boxes
jumpinstanceType = "Standard_B2s"
# win jump
winjumpip = "10.90.3.98"
# linux jump
linuxjumpip = "10.90.3.99"
